*{
    margin:0px;
    padding:0px;
}
.navbar{
    display:flex;
    justify-content:space-around;
    margin:20px;
}
.logo{
     margin-right:600px;
}
.menus{
    display:flex;
}
a{
    text-decoration: none;
    color: black;
    margin:15px;
}
.mainimage{
    margin:0px 60px;
    margin-top: 60px;
    border-radius: 30px;

    background-image: url(./assests/mainimg.png);
    background-size:cover;
    
}
.content{
    padding:110px 100px;
}
.search{
    background:#f3f3f3;
    margin:10px;
    padding:3px;
    display:flex;
    justify-content: space-between;
}
.searchinput{
    padding: 5px;
    background-color: #f3f3f3;
    border: none;
    height: 30px;
    width:98%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.heading{
    margin:10px 52px;
}
 .searchinput{
    background: #f3f3f3;
    border:none;
}
.buttons{
    margin:30px 50px;
}
.btn{
      padding:30px 20px;
      border:none;
      border-radius: 10px;
      margin:10px;
      color:white;
}
.main{
    display:flex;
    justify-content: space-around;
}
.filters{
    flex:0.3;
    margin-left: 70px;
}
#section{
    flex:0.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 60px;
}
.card{
    background-color: white;
    padding: 6px;
    box-shadow:0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}
.card > img {
    height: 250px;
    width:250px;
    border-radius:10px;

}
.card > div{
    display:flex;
    justify-content: space-between;
    margin:2px;
}
.footer{
    display:flex;
    justify-content: space-between;
    margin:30px 90px;
}
.footer>div{
    flex:1;
}
.para{
    margin-right: 50px;
}
.subscribe{
    padding:2px;
    background-color: green;
    color:white;
    

}
.icons{
    padding:30px;
    margin:0px 10px;
}
.flast{
    display: flex;
    flex-wrap: wrap;
    margin:0px 100px;
    justify-content:space-around;
    align-items: center; ! important
}
@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: center;
  }
  .navbar > img{
    margin-right:0px;
  }
  .footer{
    flex-direction: column;
    /* align-items: center; */
    
  }
  .logo{
    margin:10px;
  }
  .main{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }
  .filters{
    margin:20px;
  }
  .last{
    margin: 10px;
  }
  .flast{
    display:flex;
    justify-content: space-around;
  }
}
